*{
  margin: 0;
  padding: 0;
}

body{
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  min-height: 100vh;
  display: flex;
  background-color: #bdbdbd;
}

#contenedor{
  max-width: 600px;
  background: #616161;
  padding: 25px 5%;
  margin: 0 auto;
}

#contenedor h2{
  font-size: 24px;
}

input {
  margin-top: 5px;
  width: 50%;
  height: 1.8em;
  display: inline-block;
  vertical-align: middle;
}

fieldset {
  border: none;
  padding: .8em 0;
}

label {
  display: block;
}

#visitas label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 6em;
  margin: 0 1em 0 0;
}

textarea{
  height: 80px;
  width: 100%;
}

input[type="submit"]{
  width: 120px;
  height: 40px;
  margin-top: 30px;
  color: #fff;
  background: #144c83;
  background: linear-gradient(#144c83, blue);
  float: center;
  border: 0px;
  display: inline-block;
}

input[type="submit"]:hover{
  background: linear-gradient(blue, #144c83);
  color: #e7e7e7;
}

#button-container {
  text-align: center;
}

#admin-apn-form .message {
  font-style: italic;
}

.error {
  color: red;
}

.success {
  color: green;
}

/*pantalla smartphone*/
@media only screen and (min-width:501px) {
  #contenedor{
    width: 70%;
    margin: auto;
  }
}

/*pantalla tablet*/
@media only screen and (min-width:701px) {
  #contenedor{
    width: 60%;
  }
}
