body{
    background-color: #eeeeee;
}
.bloque{
    background-color: #bdbdbd;
}
#titulo1{
    display: inline-flex;
    align-items: center;
}

h2{
    position: relative;
    background-color: rgba(17, 122, 101, 0.7)
}

input{
    display: block;
    margin: 3px;
    padding: 3px;

}

.btn{
    margin: 2px;
    padding: 4px;
}
