* {
    box-sizing: border-box;
}


/****     estlyo de titulo      ***/
div { margin: 2px; }


select#soflow-color {
   color: #fff;
   background-color: #779126;
   border-radius: 5px;
   padding-left: 20px;
}
/***** fin de estilo de titulo****/

.acordeon input{
    display: none;
}

.acordeon__titulo{
    display: block;
    padding: 1px;
    background: #1a237e;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    margin-left: 5px;
    font-style: 'Roboto', sans-serif;
}

.acordeon__titulo h3{
    padding-left: 5px;
    font-size: 11px;
}
.acordeon__titulo h4{
    padding-left: 20px;
    font-size: 13px;
}

.acordeon__titulo:hover{
    background: #3f51b5;
}

.acordeon__contenido{
    height: 0;
    padding-left: 30px;
    overflow: hidden;
    margin: 0;
    transition: height 0.5s;
    font-size: 12px;
}

.acordeon input:checked ~ .acordeon__contenido{
    height: auto;
    margin: 15px 0;
}

.subtitulo{
    padding-left: 20px;
    font-size: 13px;
    font-style: italic;
}

#st1{color: blue;}
#st2{color: green;}
#st3{color: blue;}
#st4{color: green;}
#st5{color: red;}
#st6{color: blue;}


/*******CSS TABLAS***********/
th{
    background-color: #c5cae9;
}

td{
    background-color: #e8eaf6;
}

.tab th{
    text-align: left;
}
